<header>
    <fieldset>
        <legend>Header</legend>

        <% if (session.isAuthenticated ()) { %>
            <p><%= session.user.full_name %> <span>|</span> <%= session.user.email %></p>
            <hr />
            <a href="/account">Beheer Account</a>
            <a href="/logout?redirect=<%= encodeURIComponent (url) %>">Log uit</a>
        <% } else { %>
            <p>Niet ingelogt</p>
            <hr />
            <a href="/login?redirect=<%= encodeURIComponent (url) %>">Log in</a>    
        <% } %>
    </fieldset>
</header>