<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Registreer" content="width=device-width, initial-scale=1.0">
    <title>Inloggen</title>
</head>
<body>
    <div>
        <form target="/register" method="POST">
            <% if (error) { %>
                <div>
                    <strong>Foutmelding!!</strong>
                    <p><%= error %></p>
                </div>    
            <% } %>
            <fieldset>
                <legend>Log in je account</legend>
                <br />
                <br />
                <button type="submit">Registreer account</button>
                <hr />
                <ul>
                    <li>
                        <a href="/login">Gebruiker? Log hier in.</a>      
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
    <br />
    <%- include ('includes/footer.ejs') %>
</body>
</html>